.inputbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}
  
  .bar {
    float: left;
    width: 82%;
    height: 2rem;
   margin-top: 0.2rem;
   margin-left: 0.2rem;
   margin-bottom: 0.2rem;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .submitbtn {
    float: right;
    width: 2rem;
    height: 2rem;
    background-color: lightgreen;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
  border-radius: 0.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  