
.chatbot-panel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: width 0.3s, height 0.3s;
  width: 50px; 
  height: 50px; 
}

.chatbot-panel.open {
  width: 300px; 
  height: 90vh; 
}


.floating-icon {
  background-image: url('../../public/bot.png');
  background-size: contain; 
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  /* background-color: #007bff; */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-icon.open {
  display: none; 
}


.cross-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  background-color: #ff0000; 
}

.chatbot-container {
  display: none;
  width: 300px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chatbot-panel.open .chatbot-container {
  display: block;
}
