/* Chatbot Panel */
.chatbot-panel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: width 0.3s, height 0.3s;
  width: 50px; /* Set the initial width of the panel */
  height: 50px; /* Set the initial height of the panel */
}

.chatbot-panel.open {
  width: 300px; /* Set the expanded width of the panel when it's open */
  height: 400px; /* Set the expanded height of the panel when it's open */
}

/* Floating Icon */
.floating-icon {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-icon.open {
  display: none; /* Hide the blue chat icon when the panel is open */
}

/* Cross Mark Icon */
.cross-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  background-color: #ff0000; /* Set the background color of the cross mark icon */
}

/* Chatbot Container */
.chatbot-container {
  display: none;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chatbot-panel.open .chatbot-container {
  display: block;
}
