
@font-face {
    font-family: 'Pe-icon-line';
    src:url('../font/Pe-icon-line.eot?lqevop');
    src:url('../font/Pe-icon-line.eot?#iefixlqevop') format('embedded-opentype'),
        url('../font/Pe-icon-line.woff?lqevop') format('woff'),
        url('../font/Pe-icon-line.ttf?lqevop') format('truetype'),
        url('../font/Pe-icon-line.svg?lqevop#Pe-icon-line') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pe-li-"], [class*=" pe-li-"] {
    display: inline-block;
    font-family: 'Pe-icon-line';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pe-li-web:before {
    content: "\e600";
}
.pe-li-volume:before {
    content: "\e601";
}
.pe-li-vinyl-disk:before {
    content: "\e602";
}
.pe-li-view:before {
    content: "\e603";
}
.pe-li-video:before {
    content: "\e604";
}
.pe-li-users:before {
    content: "\e605";
}
.pe-li-user:before {
    content: "\e606";
}
.pe-li-unlock:before {
    content: "\e607";
}
.pe-li-umbrella:before {
    content: "\e608";
}
.pe-li-tshirt:before {
    content: "\e609";
}
.pe-li-truck:before {
    content: "\e60a";
}
.pe-li-tool:before {
    content: "\e60b";
}
.pe-li-toilet-paper:before {
    content: "\e60c";
}
.pe-li-ticket:before {
    content: "\e60d";
}
.pe-li-target:before {
    content: "\e60e";
}
.pe-li-tablet:before {
    content: "\e60f";
}
.pe-li-sun:before {
    content: "\e610";
}
.pe-li-star:before {
    content: "\e611";
}
.pe-li-smile:before {
    content: "\e612";
}
.pe-li-shop:before {
    content: "\e613";
}
.pe-li-shield:before {
    content: "\e614";
}
.pe-li-settings:before {
    content: "\e615";
}
.pe-li-scissor:before {
    content: "\e616";
}
.pe-li-safe:before {
    content: "\e617";
}
.pe-li-rocket:before {
    content: "\e618";
}
.pe-li-refresh:before {
    content: "\e619";
}
.pe-li-posion:before {
    content: "\e61a";
}
.pe-li-portfolio:before {
    content: "\e61b";
}
.pe-li-pinmap:before {
    content: "\e61c";
}
.pe-li-pill:before {
    content: "\e61d";
}
.pe-li-photo:before {
    content: "\e61e";
}
.pe-li-phone:before {
    content: "\e61f";
}
.pe-li-pencil:before {
    content: "\e620";
}
.pe-li-paper-plane:before {
    content: "\e621";
}
.pe-li-notepad:before {
    content: "\e622";
}
.pe-li-notebook:before {
    content: "\e623";
}
.pe-li-news:before {
    content: "\e624";
}
.pe-li-net:before {
    content: "\e625";
}
.pe-li-music:before {
    content: "\e626";
}
.pe-li-mortarboard:before {
    content: "\e627";
}
.pe-li-monitor:before {
    content: "\e628";
}
.pe-li-money:before {
    content: "\e629";
}
.pe-li-micro:before {
    content: "\e62a";
}
.pe-li-message:before {
    content: "\e62b";
}
.pe-li-map:before {
    content: "\e62c";
}
.pe-li-mail:before {
    content: "\e62d";
}
.pe-li-magnet:before {
    content: "\e62e";
}
.pe-li-love:before {
    content: "\e62f";
}
.pe-li-loupe:before {
    content: "\e630";
}
.pe-li-lock:before {
    content: "\e631";
}
.pe-li-link:before {
    content: "\e632";
}
.pe-li-like:before {
    content: "\e633";
}
.pe-li-light:before {
    content: "\e634";
}
.pe-li-leaf:before {
    content: "\e635";
}
.pe-li-lamp:before {
    content: "\e636";
}
.pe-li-lab:before {
    content: "\e637";
}
.pe-li-key:before {
    content: "\e638";
}
.pe-li-joy:before {
    content: "\e639";
}
.pe-li-inbox:before {
    content: "\e63a";
}
.pe-li-ice:before {
    content: "\e63b";
}
.pe-li-host:before {
    content: "\e63c";
}
.pe-li-help:before {
    content: "\e63d";
}
.pe-li-headphones:before {
    content: "\e63e";
}
.pe-li-graph:before {
    content: "\e63f";
}
.pe-li-garbage:before {
    content: "\e640";
}
.pe-li-game-pad:before {
    content: "\e641";
}
.pe-li-food:before {
    content: "\e642";
}
.pe-li-flag:before {
    content: "\e643";
}
.pe-li-file:before {
    content: "\e644";
}
.pe-li-expand:before {
    content: "\e645";
}
.pe-li-drop:before {
    content: "\e646";
}
.pe-li-cup:before {
    content: "\e647";
}
.pe-li-copy:before {
    content: "\e648";
}
.pe-li-config:before {
    content: "\e649";
}
.pe-li-compass:before {
    content: "\e64a";
}
.pe-li-comments:before {
    content: "\e64b";
}
.pe-li-coffee:before {
    content: "\e64c";
}
.pe-li-cloud:before {
    content: "\e64d";
}
.pe-li-clock:before {
    content: "\e64e";
}
.pe-li-clip:before {
    content: "\e64f";
}
.pe-li-cinema:before {
    content: "\e650";
}
.pe-li-check:before {
    content: "\e651";
}
.pe-li-cd:before {
    content: "\e652";
}
.pe-li-cassette:before {
    content: "\e653";
}
.pe-li-cart:before {
    content: "\e654";
}
.pe-li-camera:before {
    content: "\e655";
}
.pe-li-call:before {
    content: "\e656";
}
.pe-li-calendar:before {
    content: "\e657";
}
.pe-li-calculator:before {
    content: "\e658";
}
.pe-li-brush:before {
    content: "\e659";
}
.pe-li-browser:before {
    content: "\e65a";
}
.pe-li-book:before {
    content: "\e65b";
}
.pe-li-bicycle:before {
    content: "\e65c";
}
.pe-li-bell:before {
    content: "\e65d";
}
.pe-li-battery:before {
    content: "\e65e";
}
.pe-li-bag:before {
    content: "\e65f";
}
.pe-li-attention:before {
    content: "\e660";
}
.pe-li-atom:before {
    content: "\e661";
}
.pe-li-apeaker:before {
    content: "\e662";
}
.pe-li-alarm:before {
    content: "\e663";
}